body {
    padding-top: 70px;
  }
  .btn-grey{
      background-color:#D8D8D8;
      color:#FFF;
  }

  .bold{
      font-weight:700;
  }
  .padding-bottom-7{
      padding-bottom:7px;
  }
  

fieldset, label { margin: 0; padding: 0; }
body{ margin: 20px; }
h1 { font-size: 1.5em; margin: 10px; }

.rating { 
  border: none;
  float: left;
}

.rating > input { display: none; } 
.rating > label { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}



.rating > .label-unchecked { 
  color: #ddd; 
 float: right; 
}

.rating > .label-checked { 
    color: #FFD700; 
   float: right; 
  }


.rating > input + i:hover, 
.rating > input ~ i:hover,
.rating > i:hover ~ input ~ i,  selection 
.rating > input ~ i:hover ~ i { color: #FFED85;  } 