<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
    <h5 class="my-0 mr-md-auto font-weight-normal">Kursy</h5>
    <nav class="my-2 my-md-0 mr-md-3">
      <!-- <a class="p-2 text-dark"routerLink="/login" routerLinkActive="active">Zaloguj</a> -->
      <!-- <a class="p-2 text-dark" routerLink="/register" routerLinkActive="active">Zarejestruj</a> -->
    </nav>
    <p class="p-2 h5"> Zalogowano jako: <br/> {{ (auth.CurrentUser()).email  }}</p>
    <a class="btn btn-outline-primary p-2 m-1" routerLink="/add" routerLinkActive="active" *ngIf="auth.haveRole('admin')">dodaj</a>
    <a class="btn btn-outline-primary p-2 m-1" routerLink="/register" routerLinkActive="active" *ngIf="!auth.isLoggedIn()">Zarejestruj</a>
    <a class="btn btn-outline-primary p-2 m-1" routerLink="/login" routerLinkActive="active" *ngIf="!auth.isLoggedIn()">Zaloguj</a>
    <a class="btn btn-outline-primary p-2 m-1" routerLink="/courses" routerLinkActive="active" *ngIf="auth.isLoggedIn()">Lista Kursów</a>
    <a class="btn btn-outline-primary p-2 m-1" routerLink="/signout" routerLinkActive="active" *ngIf="auth.isLoggedIn()">Wyloguj</a>
  </div>

  <router-outlet></router-outlet>

    <footer class="pt-4 mt-md-5 pt-md-5 border-top">
      <div class="row">
        <div class="col-12">
            <h6 class="col">Karol Hamielec ©</h6>
        </div>
      </div>
    </footer>
  

