<form [formGroup]="filterForm" (input)="change()">
    <label>name:</label><input class="form-control" name="name" formControlName="name">
    <label>rating:</label><input class="form-control" name="rating" formControlName="rating">
    <label>semester:</label><input class="form-control" name="semester" formControlName="semester">
    <label>ECTSpoints:</label><input class="form-control" name="ECTSpoints" formControlName="ECTSpoints">
    <!-- <button type="submit" (click)="addCourse()">Send</button> -->

</form>