<div class="card mb-4 box-shadow">
    <div class="card-header">
        <h4 class="my-0 font-weight-normal">{{ course.name }}</h4>
    </div>
    <div class="card-body">
        <img src="{{ course.imageURL }}" alt="zdjecie kursu" class="img-thumbnail">
        <button type="button" class="btn btn-lg btn-block btn-outline-primary" (click)="notify.emit()" *ngIf="auth.haveRole('admin')">usun</button>
        <button type="button" class="btn btn-lg btn-block btn-outline-primary" (click)="courseDetails()">szczegoly</button>
        <button type="button" class="btn btn-lg btn-block btn-outline-primary" (click)="editCourse()"  *ngIf="auth.haveRole('admin')">edytuj</button>

    </div>
</div>
